<div>

    <h1>Create a post</h1>

    <form id="newPost" name="newPost" method="POST" action="/users/newPost">
        <div>
            <label for="postTitle">Post Title: </label>
            <input type="text" name="postTitle" required>
        </div>
        <div>
            <label for="postBody">Post Body: </label>
            <input type="text" name="postBody" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>

</div>